@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
   themes: dark --default, light ;
 }

  @plugin "daisyui/theme" {
   name: "dark";
   default: true;
  --color-primary: #CAEB66;
  --color-secondary: #1A1A1D;
}

.font-outfit{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
